//
//  Config.xcconfig
//  ID Capture
//
//  Created by Jakub Dolejs on 22/10/2021.
//  Copyright © 2021 Applied Recognition Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 4.8.0
CURRENT_PROJECT_VERSION = 4008000
